beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
ConfigArgParse==1.2.3
fortran-language-server==1.12.0
fprettify==0.3.7
idna==3.3
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1641177025484/work
Pillow==9.0.0
requests==2.27.1
soupsieve==2.3.1
Unidecode==1.1.2
urllib3==1.26.8
